/**Adjusts the the background color of this page**/
body {
    background-color: #CACACA;
    background-image: linear-gradient(#CACACA,#8D8D8D);
}

/**Adjusts the overall color, size, and margin of the nav section**/
nav {
    background-color: #343434;
    height: 105px;
    width: 1905px;
    margin: -40px 0px 0px -10px;
}

/**Adjusts placement and margin of the logo in nav**/
nav #logo {
    float: left;
    margin: 18px 0px 0px 55px;
}

/**Adjusts the unordered list margin in nav**/
nav ul {
    margin-left: 175px;
}

/**Adjusts the overall appearance of the nav menu buttons**/
nav ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #343434;
    border: none;
    padding: 15px 32px 15px 32px;
    text-align: center;
    margin: 38px 5px 0px 0px;
    display: inline-block;
    text-decoration: none;
}

/**Replaces default hyperlink appearance of nav bar buttons**/
a, nav ul li {
    color: #CACACA;
    text-decoration: none;
}

/**Adjusts the appearance of nav bar buttons when hovered**/
nav ul li:hover {
    background-color: #151515;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    padding: 15px 32px 15px 32px;
    text-align: center;
    margin: 38px 5px 0px 0px;
    display: inline-block;
    text-decoration: none;
}

/**Adjusts the overall appearance of the in-progress subsection**/
#in-prog {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-bottom: #CACACA;
    border-right: #CACACA;
    border-left: #CACACA;
    color: whitesmoke;
    background-color: #525252;
    padding: 1% 1% 1% 1%;
    margin: 3% 0% 0% 10%;
    width: 35%;
}

/**Adjusts the header for the in-progress subsetion**/
#in-prog h2{
    text-align: center;
    margin: 3% 0% -0.05% 0%;
}

/**Adjusts the appearance of the search bar within the in-progress subsection**/
#in-prog #search-progress {
    padding: 2% 0% 1% 0%;
    border: none;
    margin-left: 36.5%;
}

/**Adjusts the placement of filter buttons for the in-progress subsection**/
#in-prog #filter-progress {
    margin-left: 33.2%;
    padding-bottom: 0%;
}

/**Adjusts the overall appearance of the filter buttons in the in-progress subsection**/
#in-prog #filter-progress button {
  background-color: #151515;
  border: none;
  color: white;
  padding: 1.3% 1.3% 1.3% 1.3%;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
}

/**Adjusts the appearance of the filter buttons WHEN HOVERED in the in-progress subsection**/
#in-prog #filter-progress button:hover {
    background-color: whitesmoke;
    border: none;
    color: #343434;
    padding: 1.3% 1.3% 1.3% 1.3%;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
}

/**Adjusts the filter-by-level padding and margin in the in-progress subsection**/
#in-prog #filter-level-progress{
    margin: 1% 0% 0% 39%;
    padding-bottom: 2%;
}
/**Adjusts the overall appearance of the filter-by-level buttons in the in-progress subsection**/
#in-prog #filter-level-progress button{
  background-color: #151515;
  border: none;
  color: white;
  padding: 1.3% 1.3% 1.3% 1.3%;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
}

/**Adjusts the filter-by-level button appearance when hovered in the in-progress subsection**/
#in-prog #filter-level-progress button:hover{
    background-color: whitesmoke;
    border: none;
    color: #343434;
    padding: 1.3% 1.3% 1.3% 1.3%;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
}

/**Adjusts overall placement and removes bullet points in the in-progress subsection**/
#in-prog ul {
    display: inline;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    list-style-type: none;
}

/**Adjusts text alignment and top border for contents within the in-progress subsection**/
#w22-01, #w22-02, #w22-03, #w22-04, #w22-05, #w22-06 {
    border: 1px;
    border-style: solid;
    border-bottom: #CACACA;
    border-right: #CACACA;
    border-left: #CACACA;
    text-align: center;
}




/**Adjusts overall appearance and placement of the completed courses subsection**/
#completed-courses {
    margin: -119.50% 0% 0% 53%;
    padding: 1% 1% 1% 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-bottom: #CACACA;
    border-right: #CACACA;
    border-left: #CACACA;
    color: whitesmoke;
    background-color: #525252;
    width: 35%;
}

/**Adjusts the completed courses header text alignment and margin**/
#completed-courses h2{
    text-align: center;
    margin: 3% 0% -0.05% 0%;
}

/**Adjusts the search bar appearance and placement within the completed courses subsection**/
#search-bar {
    padding: 2% 0% 1% 0%;
    border: none;
    margin-left: 36.5%;
}

/**Adjusts the filter buttons margin in the completed courses subsection**/
#completed-courses #filter-buttons-completed {
    margin-left: 32.8%;
}

/**Adjusts the filter button buttons appearance in the completed courses subsection**/
#completed-courses #filter-buttons-completed button {
  background-color: #151515;
  border: none;
  color: white;
  padding: 1.3% 1.3% 1.3% 1.3%;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
}

/**Adjusts the filter button appearance WHEN HOVERED in the completed courses subsection**/
#completed-courses #filter-buttons-completed button:hover {
    background-color: whitesmoke;
    border: none;
    color: #343434;
    padding: 1.3% 1.3% 1.3% 1.3%;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
}

/**Adjusts the margin for the filter-by-level buttons**/
#completed-courses #filter-level-completed{
    margin: 1% 0% 0% 39%;
}

/**Adjusts the filter-by-level buttons appearance within the completed courses subsection**/
#completed-courses #filter-level-completed button{
    background-color: #151515;
    border: none;
    color: white;
    padding: 1.3% 1.3% 1.3% 1.3%;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
}

/**Adjusts the filter-by-level buttons appearance WHEN HOVERED**/
#completed-courses #filter-level-completed button:hover{
    background-color: whitesmoke;
    border: none;
    color: #343434;
    padding: 1.3% 1.3% 1.3% 1.3%;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
}

/**Adjusts the settings of the urordered list within the completed courses subsection**/
#completed-courses ul{
    list-style-type: none;
    display: inline;
    overflow: hidden;
    text-decoration: none;
    margin: 0% 0% 0% 2%;
    width: 100%;
}

/**Adjusts the appearance of the unordered list within the completed courses subsection**/
#f21-01, #f21-02, #f21-03, #f21-04, #f21-05, #f21-06 {
    border: 1px;
    border-style: solid;
    border-bottom: #CACACA;
    border-right: #CACACA;
    border-left: #CACACA;
    text-align: center;
}

/**Adjusts the footer appearance and size**/
footer {
    background-color: #343434;
    height: 100px;
    width: 1905px;
    margin: 3.5% 0px -40px -10px;
}

/**Adjusts the font family, text alignment, padding, and text color of contents within footer**/
footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #CACACA;
    text-align: center;
    padding-top: 2%;
}